*{
    box-sizing: border-box;
}

@font-face {
    src: url(Fonts/MinecraftRegular-Bmg3.otf);
    font-family: Minecraft-Font;
}

body{
    background-image: url("Images/WM_Start2.png");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
   
}

.WorldMineImg{
    text-align: center;
}
.WorldMineImg img{
    width: 100%;
    max-width: 1090px;
}
.fa-brands.fa-discord{
    color: blue;
}
h1{
    font-family: Minecraft-Font , sans-serif;
    margin: 10px;
    font-size: 100px;
    text-decoration: underline;
    text-align: center;
}
.InformationBox{
    display: flex;
    justify-content: space-evenly;
    

}
.Information{
    background-color: hsla(0, 0%, 100%, 0.787);
    border-radius: 20px;
    width: 45vw;
}
.Information p{
    margin: 10px;
    font-family: Minecraft-Font , sans-serif;
    font-size: 30px;
}
.Information a{
    margin: 10px;
    font-family: Minecraft-Font , sans-serif;
    font-size: 30px;
    color: black;
    text-decoration: none;
}
.Information li{
    font-family: Minecraft-Font , sans-serif;
    font-size: 30px;
    color: black;
}
.Information:hover{
    animation: boxHover 0.04s ease-in-out forwards;
}
.Information a:hover{
    text-decoration: underline;
}
#MustBeBlue{
    color: blue;
    text-decoration: underline;
}
@keyframes boxHover{
    from{transform: scale(1)}
    to{transform: scale(1.01,1.01);}
    100%{box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.562), -5px -5px 5px hsla(0, 0%, 0%, 0.562) , 5px -5px 5px hsla(0, 0%, 0%, 0.562), -5px 5px 5px hsla(0, 0%, 0%, 0.562);}
}
@media screen and (max-width:600px) {
    .Information{
        width: 100%;

    }
    .InformationBox{
        display: inline-block;
    }
    h1{
        font-size: 80px;
    }

}

.Navbar ul{
    list-style-type: none;
    background-color: hsl(297, 100%, 75%);
    padding:0px ;
    margin:0px;
    overflow: hidden;
    
}
.Navbar a{
    color: rgb(51, 90, 181);
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 15px;
    font-family: Minecraft-Font , sans-serif;
    
    
}
.Navbar a:hover{
    background-color: hsl(297, 100%, 60%);
}
.Navbar li{
    float: left;
}
#WMTeamBox{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    row-gap: 20px;
}
.WMTeam{
    width: 500px;
    padding: 10px;
    background-color: hsla(0, 0%, 100%, 0.787);
    border-radius: 20px;
    margin: 10px;
    
}
.WMTeam a{
    margin: 10px;
    font-family: Minecraft-Font , sans-serif;
    font-size: 30px;
    color: black;
    text-decoration: none;
}

.WMTeam a:hover{
    text-decoration: underline;
}
.WMTeam li{
    font-family: Minecraft-Font , sans-serif;
    font-size: 30px;
    color: black;
}
.WMTeam:hover{
    animation: boxHover 0.04s ease-in-out forwards;
}

h2{
    font-family: Minecraft-Font , sans-serif;
    margin: 5px;
    font-size: 30px;
    text-decoration: underline;
    text-align: center;
    
}
h3{
    font-family: Minecraft-Font , sans-serif;
    margin: 3px;
    font-size: 25px;
    text-align: center;
}
.WMTeam p{
    margin: 10px;
    font-family: Minecraft-Font , sans-serif;
    font-size: 20px;
}
#Owner{
    color: rgba(255, 0, 0, 0.842);
}
#Admin{
    color: orange;
}
#Dev{
    color: blueviolet;
}
#Mod{
    color: blue;
}
.Icons{
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 2px;
}